.task-main-container {
  background-color: #d99ae3;
  min-height: 100vh;
  padding: 20px;
}

.main-header {
  color: #E6267C;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.task-header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.description {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
}

.add-task-btn {
  background-color: #035429;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  height: 50px;
  border-radius: 15px;
  width: 140px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.add-task-btn:hover {
  background-color: #028f4b;
}

.task-list-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}


@media screen and (max-width: 768px) {
  .main-header {
    font-size: 36px;
  }

  .description {
    font-size: 18px;
  }

  .add-task-btn {
    width: 120px;
    height: 45px;
    font-size: 18px;
  }

  .task-header-container {
    flex-direction: column;
    align-items: stretch;
  }

  .task-list-container {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .main-header {
    font-size: 30px;
  }

  .description {
    font-size: 16px;
  }

  .add-task-btn {
    width: 100%;
    font-size: 16px;
  }
}
