.task-item-container {
  list-style-type: none;
  background-color: #97e2f0;
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  width: 400px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.task-item-buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  flex-wrap: wrap;
  gap: 10px;
}

.task-item-headers {
  color: tomato;
  font-size: 20px;
  font-weight: bold;
}

.task-item-title {
  color: darkmagenta;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.task-item-details {
  color: #000000;
  font-size: 18px;
  font-weight: 500;
  max-height: 100px;
  overflow-y: auto;
  margin: 10px 0;
}

.task-btns {
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  height: 40px;
  border-radius: 15px;
  width: 100px;
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease;
}

.task-btns:hover {
  opacity: 0.9;
}

.delete-btn {
  background-color: #e8101f;
}

.edit-btn {
  background-color: #4a10e8;
}


@media screen and (max-width: 768px) {
  .task-item-container {
    width: 80%;
    min-height: auto;
  }

  .task-item-title {
    font-size: 22px;
  }

  .task-item-headers {
    font-size: 18px;
  }

  .task-item-details {
    font-size: 16px;
    max-height: 120px;
  }

  .task-btns {
    
    font-size: 14px;
    height: 40px;
  }
}


@media screen and (max-width: 480px) {
  .task-item-container {
    width: 80%;
    padding: 15px;
  }

  .task-item-title {
    font-size: 20px;
  }

  .task-item-details {
    font-size: 14px;
  }

  .task-btns {
    width: 100%;
    font-size: 14px;
    height: 38px;
  }

  .task-item-buttons-container {
    flex-direction: column;
    align-items: stretch;
  }
}
